.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    box-sizing: border-box;
    padding-inline: 1rem;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    padding-block: 2rem;
}

.input {
    display: flex;
    flex-direction: column;
    flex: 1 0 44%;
}

.mat-mdc-dialog-actions {
    justify-content: flex-end;
}

.btn-common {
    float: right;
}