<div class="header" mat-dialog-title>
    <h1>Editar Anime</h1>
    <button type="button" [matDialogClose]> <fa-icon [icon]="close"></fa-icon></button>
</div>
<mat-dialog-content [formGroup]="form">
    <div class="container">
        <div class="input">
            <label>Name</label>
            <input formControlName="name" type="text">
        </div>
        <div class="input">
            <label>Banner</label>
            <input formControlName="img" type="text">
        </div>
        <div class="input">
            <label>Temporada</label>
            <input formControlName="temporada" type="number">
        </div>
        <div class="input">
            <label>Qtd. Episódios</label>
            <input formControlName="eps" type="number">
        </div>
        <div class="input">
            <label>Sinopse</label>
            <textarea formControlName="sinopse" type="text"></textarea>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="btn-common" (click)="updateAnime()">Salvar</button>
</mat-dialog-actions>